body {
	background-color: black;
	font: monospace;
	color: white;
}

ul.nav {
	padding-left: 0;
}

ul.nav li {
	font-family: sans-serif;
	font-size: 0.9em;
	display: inline;
	background-color: #f77;
	padding: 0 5px;
}

ul.nav li a {
	color: black;
	text-decoration: none;
}

.mainheader {
	font-weight: bold;
	font-size: 1.5em;
}

.subheader {
	font-weight: bold;
	font-size: 1.3em;
}

.fullstat, .stat, .resistname, .resistplus {
}

.statheader {
	font-weight: bold;
}

.traitname, .traitname2 {
	font-weight: bold;
}

.resistdot {
	color: gray;
}

.traitcol1, .traitcol3, .statval {
	color: #5f5;
}

.fullstat {
	font-weight: bold;
}

.letter {
}

.lettertext {
	font-weight: bold;
}

.artifacttitle {
	color: #ffc;
}

.eventheader {
	font-weight: bold;
}

.eventturn, .eventdepth, .eventlevel {
}

.eventbegan {
	font-weight: bold;
}

.eventreached {
}

.eventkilled {
	color: red;
}

.eventfound {
	color: yellow;
}

.eventlost {
	color: #aa0;
	font-style: italic;
}

